@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@400;600&display=swap');
@font-face {
    font-family: Twister;
    src: url(./assets/fonts/Twister.ttf);
}

@font-face {
    font-family: Vanilla;
    src: url(./assets/fonts/VanillaRavioli_Demo.ttf)
}
@font-face {
    font-family: Vogue;
    src: url(./assets/fonts/Vogue.ttf)
}
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
}

#home {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 650px;
    margin-bottom: 2rem;
    border: 1px solid;
}

#home img {
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img {
    max-width: 100vw;
}

.hero {
    position: absolute;
    top: 100px;
    right: 55px;
    z-index: 2;
    background-color: #070e3d;
    border-radius: 50%;
    padding: 100px 75px;
    text-align: left;
    opacity: .9;
}
.hero:hover {opacity: 1}
.hero h1, .hero h2, .hero a {
    opacity: 0;
    animation: fadeIn 250ms forwards;
}
.hero h1 {
    font-family: "Vogue", serif;
    font-weight: 400;
    font-size: 140px;
    text-transform: uppercase;
    color: #EEC129;
    letter-spacing: 4px;
    animation-delay: 1s;
}
h2 {
    font-family: "Twister", serif;
    font-size: 70px;
    color: #EEC129;
    text-align: center;
    margin-bottom: 2rem;
}
.hero h2 {
    font-family: "Twister", serif;
    font-size: 56px;
    margin-top: -15px;
    margin-bottom: 0;
    color: #f6f5f2;
    animation-delay: 1.1s;
}
.hero a {
    display: block;
    margin-top: 1rem;
    animation-delay: 1.2s;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn {
    padding: 1rem 2rem;
    background-color: #EEC12977;
    border-radius: 20px;
    color: #f6f5f2;
    font-weight: bold;
    font-size: 1.2rem;
    width: 180px;
    text-align: center;
    transition: all .5s;
}
.btn:hover {
    background-color: #EEC129cc;
}

/*=== Features === */
#features {
    padding: 2rem 0;
}
.container {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 2rem;
    padding: 0 1rem;
}
.card {
    max-width: 350px;
    position: relative;
    background-color: #f6f5f2;
}
.card:hover {
    box-shadow: 0 0 4px #EEC129, 0 0 5px rgba(0, 0, 0, .19);
}
.card-img {
    width: 100%;
    margin-bottom: 1rem;
}
.card-title {
    font-size: 1.2rem;
    font-family: serif;
    color: #AD880B;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-left: .5rem;
    text-transform: capitalize;

}
.card-desc {
    margin-bottom: .5rem;
    margin-left: .5rem;
    font-size: 1rem;
}

/** Stay with Us **/
#stay-with-us {
    background-color: #070e3d;
    padding: 2rem 0;
    color: #b8b1b1;
    position: relative;
    overflow: hidden;
}
.contacts {
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: .8rem;
}
.bold {
    font-size: 1rem;
    color: #EEC129;
    opacity: .8;
}
.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #EEC129;
    border-radius: 50%;
    left: -10%;
    top: 50%;
    opacity: 1;
}
footer {
    background-color: #020220;
    color: #9292a8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    gap: 1rem;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
footer li {
    padding: 0 1rem;
}
li a:hover {
    color: #f6f5f2;
}

footer p {
    text-align: center;
    font-size: .8rem;
}

@media screen And (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .card::before {
        content: "";
        position: absolute;
        bottom: -1.5rem;
        left: 0px;
        width: 100%;
        height: 2px;
        background-color: #EEC129;
        z-index: 2;
    }
    .card.last::before {height:0}
}

@media screen And (max-width: 576px){
    h2{font-size: 56px;}
    h3 {font-size: 1rem};
    body {font-size: .8rem}
    #home img{
        height: 650px;
    }
    .hero {
        top: 268px;
        left: 10px;
    }
    .hero h1 {
        font-size: 80px;
    }
    .hero h2 {
        font-size: 40px;
    }
    .hero a {
        font-size: 1rem;
    }
    .circle {
        display: none;
    }

}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}